docs/fluxosN8n/Cron população forecast.json
{
  "name": "Cron população forecast",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "forecast.forecastday",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "id": "b6763f41-2c42-47b7-b0b1-66d9c2d078d9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "https://api.weatherapi.com/v1/forecast.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "Ribeirao Preto"
            },
            {
              "name": "days",
              "value": "14"
            },
            {
              "name": "key",
              "value": "API_KEY_HERE"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        0
      ],
      "id": "6fdb1fa6-8e0f-40c8-bcec-37e2cceb4a9c",
      "name": "Previsão do tempo - weather api"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        0
      ],
      "id": "5e145658-f4ab-4715-8917-221006dd995b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 14,
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        0
      ],
      "id": "deb5004d-2a31-4567-94b5-ab680a152484",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "hour",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1344,
        16
      ],
      "id": "891b7d34-2294-4885-98b9-3e2f1ad35066",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "content": "### Considerar\nA busca é feita diária e dentro do dia existe um array com um objeto para cada hora do dia, então acredito que podemos armazenar as previsões do dia junto com uma tabela armazenando dia + horas.",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        32
      ],
      "typeVersion": 1,
      "id": "d56991e1-b8a0-4806-9b28-95bc23047d8a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1344,
        272
      ],
      "id": "b17e4cfb-63a0-41f7-ad3f-7de511b268c0",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1eb33ed4-4182-4d52-b945-87d5c2b66281",
              "name": "hour",
              "value": "={{ $('Loop Over Items').item.json.hour }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        16
      ],
      "id": "45d46df6-1da3-46c6-8346-b69cc9c430c3",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1584,
        288
      ],
      "id": "4b9a3269-ed01-4e12-ab8b-7c8ba3223afb",
      "name": "Wait",
      "webhookId": "76e857d6-8a28-4572-bba5-35e49775c5d0"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        16
      ],
      "id": "ca00719b-36ad-4835-9191-c372053f6483",
      "name": "Wait1",
      "webhookId": "7ff0cfc3-f116-461d-9f8e-e11055a25b2d"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "forecast_days",
          "mode": "list",
          "cachedResultName": "forecast_days"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "maxtemp_c": "={{ $json.day.maxtemp_f }}",
            "mintemp_c": "={{ $json.day.mintemp_c }}",
            "avgtemp_c": "={{ $json.day.avgtemp_c }}",
            "totalprecip_mm": "={{ $json.day.totalprecip_mm }}",
            "avghumidity": "={{ $json.day.avghumidity }}",
            "daily_chance_of_rain": "={{ $json.day.daily_chance_of_rain }}",
            "uv": "={{ $json.day.uv }}",
            "date": "={{ $json.date }}",
            "condition_text": "={{ $json.day.condition.text }}",
            "cidade": "={{ $('Previsão do tempo - weather api').item.json.location.name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location_id",
              "displayName": "location_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maxtemp_c",
              "displayName": "maxtemp_c",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "mintemp_c",
              "displayName": "mintemp_c",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "avgtemp_c",
              "displayName": "avgtemp_c",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "totalprecip_mm",
              "displayName": "totalprecip_mm",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "avghumidity",
              "displayName": "avghumidity",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "daily_chance_of_rain",
              "displayName": "daily_chance_of_rain",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "condition_text",
              "displayName": "condition_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uv",
              "displayName": "uv",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cidade",
              "displayName": "cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        16
      ],
      "id": "7adc9d86-8dac-44e9-9f18-91fda551e9fe",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "vroUP38TLuyjrY8c",
          "name": "farmersCompanion"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "forecast_hours",
          "mode": "list",
          "cachedResultName": "forecast_hours"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "temp_c": "={{ $json.temp_c }}",
            "chance_of_rain": "={{ $json.chance_of_rain }}",
            "precip_mm": "={{ $json.precip_mm }}",
            "humidity": "={{ $json.humidity }}",
            "uv": "={{ $json.uv }}",
            "data_hora": "={{ $json.time }}",
            "cidade": "={{ $('Insert rows in a table').item.json.cidade }}",
            "time": "={{ $json.time }}",
            "condition_text": "={{ $json.condition.text }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "forecast_day_id",
              "displayName": "forecast_day_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temp_c",
              "displayName": "temp_c",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "condition_text",
              "displayName": "condition_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chance_of_rain",
              "displayName": "chance_of_rain",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "precip_mm",
              "displayName": "precip_mm",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "humidity",
              "displayName": "humidity",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "uv",
              "displayName": "uv",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "cidade",
              "displayName": "cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1792,
        288
      ],
      "id": "fb215a16-aecb-445d-9203-863877de87db",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "vroUP38TLuyjrY8c",
          "name": "farmersCompanion"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Previsão do tempo - weather api": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Previsão do tempo - weather api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46c1036e-df88-4cd4-8fcb-3e1ae9c09f96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "961c5c2c2b4539844395f77c9f0918101ffe5df5e772cff6e475957685bd67ab"
  },
  "id": "6Zlkx5Mg8hc3zs2s",
  "tags": [
    {
      "updatedAt": "2026-02-14T02:45:30.771Z",
      "createdAt": "2026-02-14T02:45:30.771Z",
      "id": "rnWTa1S9wh9gEnMG",
      "name": "Faculdade"
    },
    {
      "updatedAt": "2026-01-13T15:21:59.004Z",
      "createdAt": "2026-01-13T15:21:59.004Z",
      "id": "ykeZyzIQizE4hRBR",
      "name": "Produção"
    }
  ]
}