docs/fluxosN8n/Cron população realtime.json
{
  "name": "Cron população realtime",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.weatherapi.com/v1/current.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "Ribeirao Preto"
            },
            {
              "name": "key",
              "value": "API_KEY_HERE"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        112
      ],
      "id": "7b12dbfb-9bfa-4af5-a7b9-88b01950af21",
      "name": "Previsão do tempo - weather api"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        112
      ],
      "id": "925f93d8-896c-40d1-a06f-18cd9a15b984",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        272,
        112
      ],
      "id": "8fd228d3-816e-4fe0-83fb-97dc844740a4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "### Considerar\nPrecisamos do schema do banco pronto\n",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        64
      ],
      "typeVersion": 1,
      "id": "1ea42c4d-16bb-4ab8-abbe-aa3b456855df",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "current_weather",
          "mode": "list",
          "cachedResultName": "current_weather"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "temp_c": "={{ $json.current.temp_c }}",
            "humidity": "={{ $json.current.humidity }}",
            "precip_mm": "={{ $json.current.precip_mm }}",
            "wind_kph": "={{ $json.current.wind_kph }}",
            "uv": "={{ $json.current.uv }}",
            "cidade": "={{ $json.location.name }}",
            "data_hora": "={{ $json.location.localtime }}",
            "condition_text": "={{ $json.current.condition.text }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location_id",
              "displayName": "location_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "temp_c",
              "displayName": "temp_c",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "humidity",
              "displayName": "humidity",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "precip_mm",
              "displayName": "precip_mm",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "wind_kph",
              "displayName": "wind_kph",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "condition_text",
              "displayName": "condition_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uv",
              "displayName": "uv",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "cidade",
              "displayName": "cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        128
      ],
      "id": "6e31caff-176f-46c4-82be-33206b1d8d61",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "vroUP38TLuyjrY8c",
          "name": "farmersCompanion"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Previsão do tempo - weather api": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Previsão do tempo - weather api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "986bd07b-0f6e-45ae-b6fe-e1e72bd1aac4",
  "meta": {
    "instanceId": "961c5c2c2b4539844395f77c9f0918101ffe5df5e772cff6e475957685bd67ab"
  },
  "id": "sQvsV0yighnO6rYS",
  "tags": [
    {
      "updatedAt": "2026-02-14T02:45:30.771Z",
      "createdAt": "2026-02-14T02:45:30.771Z",
      "id": "rnWTa1S9wh9gEnMG",
      "name": "Faculdade"
    },
    {
      "updatedAt": "2026-01-13T15:21:59.004Z",
      "createdAt": "2026-01-13T15:21:59.004Z",
      "id": "ykeZyzIQizE4hRBR",
      "name": "Produção"
    }
  ]
}